{% extends 'base.html' %}
{% load static %}

    {% block content %}
   
    {% endblock %}

    {% block content2 %}

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 style="text-align: center; color: #952323;">S1 - TEKNIK TELEKOMUNIKASI</h1>
          <br>
              <h2 style="color: #952323;">Sekilas Tentang</h2>
              <p style="text-align: justify;">Program Studi S1 Teknik Telekomunikasi adalah program studi yang mempelajari rekayasa di bidang 
                telekomunikasi. Ruang lingkup rekayasa meliputi aspek-aspek yang terkait dengan teknologi, protokol, 
                layanan, desain dan teknik pengiriman informasi broadband. Agar dapat bersaing dimasa yang akan datang, 
                mahasiswa dibekali pula dengan wawasan kemandirian, kewirausahaan serta kerjasama tim antardisiplin ilmu 
                agar dapat berkompetisi, berkarya, berkontribusi dan mengembangkan diri di komunitas professional. 
                Kurikulum pendidikan di Prodi S1 Teknik Telekomunikasi didesain selama 4 tahun dan mengacu pada kurikulum berbasis Outcome Based Educatiom (OBE).</p>
              
              <h2 style="color: #952323;">Keunggulan</h2>
              <p>
              <ol>
                  <li>Telah terakreditasi Unggul</li>
                  <li>Telah terakreditasi internasional IABEE (Indonesia Accreditation Board for Engineering Education)</li>
                  <li>Kurikulum Program Studi S1 Teknik Telekomunikasi dirancang dengan total beban 145 sks untuk lama studi 4 tahun/8 semester</li>
                  <li>Salah satu prodi terbesar dan tertua di Telkom University</li>
              </ol>
              </p>

              <h2 style="color: #952323;">Prospek Karir</h2>
              <p>
                <ol>
                    <li>Radio Engineer</li>
                    <li>Data analyst</li>
                    <li>Radio Planner</li>
                    <li>Microwave engineer</li>
                    <li>Rf engineer / specialist</li>
                    <li>BSS Engiener</li>
                    <li>Core network engineer / specialist</li>
                    <li>Cloud architect</li>
                </ol>
              </p>  
        </div>
      </div>
    </div>

    {% endblock %}